*~
controller_wallaby/manifests/params.pp
controller_wallaby/files/id_rsa_ctrl-01
controller_wallaby/files/id_rsa_controller-01
controller_wallaby/files/INFN-CA.pem
controller_wallaby/files/cafile.pem
controller_wallaby/files/ceph.conf
controller_wallaby/files/ceph-ec.conf
controller_wallaby/files/ceph.client.cinder-prod.keyring
controller_wallaby/files/ceph.client.cinder-cloudtest.keyring
controller_wallaby/files/ceph.client.glance-prod.keyring
controller_wallaby/files/ceph.client.glance-cloudtest.keyring
compute_wallaby/manifests/params.pp
compute_wallaby/files/id_rsa_ctrl-01
compute_wallaby/files/id_rsa_controller-01
compute_wallaby/files/INFN-CA.pem
compute_wallaby/files/cafile.pem
compute_wallaby/files/ceph.conf
compute_wallaby/files/nagios_check_ovs.sh
compute_wallaby/files/check_kvm_wrapper.sh
compute_wallaby/files/secret.xml
compute_wallaby/files/secret_test.xml
